<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="generator" content="Eleventy">
  <link href="https://github.com/finmoorhouse" rel="me">
  <link rel="webmention" href="https://webmention.io/www.finmoorhouse.com/webmention">
  <link rel="pingback" href="https://webmention.io/www.finmoorhouse.com/xmlrpc">
  <meta property="og:type" content="website">
  <meta name="author" content="Hear This Idea">
  <meta name="theme-color" content="#333948">
  <meta name="monetization" content="ilp.uphold.com/4rHyDzRz66Dw">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Analytics -->
  <script defer data-domain="finmoorhouse.com" src="https://plausible.io/js/script.js"></script>
  
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@hearthisidea">
  <meta name="twitter:creator" content="Hear This Idea">

  <!-- Description -->
  {% if description %}
  <meta name="twitter:description" content="{{ description }}">
  <meta name="description" content="{{ description }}">
  <meta property="og:description" content="{{ description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  {% endif %}  

  <!-- Title -->
  {% if title %}
  <meta name="twitter:title" content="{{ title }}">
  <meta property="og:title" content="{{ title }}">
  {% else %}
  <meta name="twitter:title" content="Hear This Idea">
  <meta property="og:title" content="Hear This Idea">
  {% endif %}
  
  <!-- Share image -->
  {% if shareImage %}
  <meta name="twitter:image" content="{{ shareImage }}">
  <meta property="og:image" content="{{ shareImage }}">
  <meta name="image" content="{{ shareImage }}">
  {% else %}
  <meta name="twitter:image" content="https://images.finmoorhouse.com/share-images/share-4.png">
  <meta property="og:image" content="https://images.finmoorhouse.com/share-images/share-4.png">
  <meta name="image" content="https://images.finmoorhouse.com/wshare-images/share-4.png">
  {% endif %}
  
  {% if canonicalUrl %}
  <!-- Canonical URL -->
  <link rel="canonical" href="{{canonicalUrl}}" />
  {% endif %}

  <!-- Additional styling -->
  <link rel="stylesheet" href="/global-processed.css"/>
  <link rel="stylesheet" href="/style/global.css"/>
  {% if extraStyle %}
  {% for styleLink in extraStyle %}
      <link rel="stylesheet" href="{{styleLink}}"/>
      {% endfor %}
  {% endif %}

  <!-- Netlify Identity Widget -->
  <!-- {% if page.url == "/" %}
  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% endif %} -->
  
  <title>{% if title %}{{ title }} - {% endif %}{{ site.author }}</title>
</head>
<body id="top">
  <nav class="max-w-2xl pt-4 pb-2  flex justify-between mx-auto px-4">
    <header class="aspect-square w-16 bg-slate-800 rounded-md shadow-lg hover:ring-4 ring-slate-300"><a href="/" class=" decoration-dotted font-mono uppercase  text-slate-100 h-full text-center leading-3 flex items-center"><span class="align-middle inline">Hear This Idea</span></a></header>
    <ul class="flex flex-none gap-x-2 sm:pr-12 mt-2">
    {% for item in nav.items %}
    <li class="inline"><a href="{{ item.url }}"
      {% if (item.url in page.url and item.url!="/") or (item.url == "/" and page.url == "/") %}
      aria-current="page" data-state="active" class="opacity-100  decoration-dotted bg-slate-100 rounded-md px-3 py-2 border border-gray-300 shadow-sm"
      {% else %}
      class="opacity-50 decoration-dotted px-3 py-2 hover:outline outline-1 outline-gray-300 rounded-md box-border"
      {% endif %} target="_self">{{ item.name }}</a>
    </li>
    {% endfor %}
  </ul></nav>
  <main class="prose font-serif pt-12 pb-16">
    {{ content | safe }}
    {#<small >{{ site.author }} &copy; {{ site.copyrightYear }}</small>#}
  </main>
</body>
</html>