---
layout: base.njk
extraStyle:
  ["/style/episode.css", "https://unpkg.com/katex@latest/dist/katex.min.css"]
---

{% set var = number+"/"+backgroundImage %} {% bg
"episodes/"+number+"/"+backgroundImage %}
<span
  class="px-3 py-1 rounded-md bg-opacity-50 bg-slate-800 dark:bg-flexoki-950 dark:bg-opacity-90 font-sans mb-3 text-slate-200 dark:text-flexoki-300 bg-blend-multiply inline-block border border-slate-400 dark:border-flexoki-500 shadow-sm border-opacity-50 align-top sm:text-base text-sm"
>
  Episode {{ number }} &#8226; {% if page.date %}
  {{
    page.date.toLocaleDateString("en-GB", {
      year: "numeric",
      month: "long",
      day: "numeric"
    })
  }}
</span>
<h1
  class="mb-1 text-slate-50 align-bottom inline-block md:mt-[150px] sm:text-4xl text-2xl sm:font-bold font-normal mt-12"
>
  {{ title }}
</h1>
{% endif %} {% endbg %} {% if content | toc %}

<div
  class="hidden sm:flex flex-wrap justify-center mb-2 rounded-md pt-2 mx-auto"
>
  <!-- <span
    href="{{ item.url }}"
    class="no-underline mr-2 font-sans mb-2 hidden md:block align-bottom"
    >App links:
  </span> -->
  {% for item in links.items %}
  <a
    href="{{ item.url }}"
    class="text-center no-underline border mr-2 border-yellow-400 bg-yellow-300 font-sans outline-yellow-500 outline-[3px] px-3 py-1 rounded-lg block outline-offset-[-3px] hover:bg-yellow-200 shadow-sm mb-2 dark:text-flexoki-800"
    target="_blank"
    >{{ item.name }}</a
  >
  {% endfor %}
</div>

<script
  type="module"
  crossorigin
  src="https://embed.type3.audio/player.js"
></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const htmlElement = document.documentElement;
    const type3Player = document.querySelector("type-3-player");

    if (htmlElement.classList.contains("dark")) {
      // Adjust the attributes below to your desired dark mode colors:
      type3Player.setAttribute("background-color", "#1C1B1A"); // Dark mode background color
      type3Player.setAttribute("primary-color", "#CECDC3"); // Dark mode primary color
      type3Player.setAttribute("waveform-color", "#B7B5AC"); // Dark mode primary color
      type3Player.setAttribute("play-button-color", "#B7B5AC"); // Dark mode primary color
      type3Player.setAttribute("play-button-icon-color", "#343331"); // Dark mode primary color
      type3Player.setAttribute("play-button-icon-color-hover", "#343331"); // Dark mode primary color
      type3Player.setAttribute("custom-css", "[id^='t3a-player-root'] {border: 1px solid #6F6E69;}"); // Dark mode primary color
    }
  });
</script>
<type-3-player
  mp3-url="{{ audio }}"
  custom-css="
  [id^='t3a-player-root'] {border: 1px solid #c5d2dc;}
  "
  background-color="#f1f5f9"
  analytics="none"
  primary-color="#374151"
  secondary-color="#737e8a"
  accent-color="#ffcd0a"
  play-button-color="#fde047"
  play-button-icon-color="#545559"
  play-button-icon-color-hover="#f1f5f9"
  primary-font-family="Merriweather,Source Serif Pro,Apple Garamond,Baskerville,Libre Baskerville,Droid Serif,Times New Roman,Times,serif,ui-serif,Noto Emoji,Quivira, serif"
  t3a-logo="false"
  secondary-font-family="ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji"
>
</type-3-player>
<!-- Can add to player: box-shadow: 0 1px 8px 0 rgb(0 0 0 / 0.05), 0 1px 2px -1px rgb(0 0 0 / 0.1);}" -->
<div class="flex flex-wrap mt-2 mb-2 justify-center">
  <a
    href="/episodes"
    class="rounded-md font-sans no-underline py-1 px-3 font-medium text-gray-700 hover:outline outline-1 outline-gray-300 dark:outline-flexoki-800 box-border sm:inline-block hidden dark:text-flexoki-300"
    >← Back to all episodes</a
  >
  <!-- <span
    href="/episodes"
    class="rounded-md font-sans no-underline py-2 px-0 mb-4 inline-block text-slate-400"
    >&#8226;</span
  > -->
  <a
    href="https://feedback.hearthisidea.com/episode?title={{ title }}&number=2"
    class="ml-4 rounded-md font-sans no-underline py-1 px-3 font-medium text-gray-700 inline-block hover:outline outline-1 outline-gray-300 dark:outline-flexoki-800 box-border dark:text-flexoki-300"
    >Leave feedback ↗</a
  >
</div>

<hr class="sm:mt-8 mt-4 sm:mb-8 mb-6" />

<details
  open
  class="block desktop:hidden text-sm px-8 py-4 font-sans mb-4 bg-slate-100 dark:bg-flexoki-950 rounded-md ring-gray-300 dark:ring-flexoki-700 dark:ring-1 dark:hover:ring-flexoki-500 hover:ring-1"
>
  <summary class="text-lg cursor-pointer font-medium">Contents</summary>
  {{ content | toc | safe }}
</details>

<nav class="side-nav opacity-60 text-sm hidden font-sans hover:opacity-100">
  <div class="side-nav-offset hidden desktop:block overflow-hidden">
    <h2>Contents</h2>
    <p>{{ content | wordStats }}</p>
    {{ content | toc | safe }}
    <br />
    <a
      href="#top"
      class="no-underline rounded-sm outline outline-1 outline-gray-300 dark:outline-flexoki-800 p-2 ml-2 hover:bg-slate-100 dark:hover:bg-flexoki-950 box-border"
      >Back to top &#8593;</a
    >
  </div>
</nav>
{% endif %}


<!-- Block to add subtle background -->
<div
  class="hidden md:block absolute inset-x-[calc(-50vw+32ch)] top-[-100px] bg-slate-100 dark:bg-flexoki-980 bottom-10 h-[650px] px-[50px] -z-10"
></div>

{{ content | safe }}

<nav
  class="flex mt-12 mb-2 justify-center border-t bottom-8 border-slate-200 dark:border-flexoki-850 pt-8 xs:flex-row flex-col-reverse"
  aria-label="Pagination"
>
  <a
    href="/episodes"
    class="rounded-md bg-slate-100 font-sans no-underline py-1 px-3 mx-2 border border-gray-300 shadow-sm font-medium text-gray-700 hover:bg-gray-50 xs:mt-0 mt-3 text-center xs:text-left max-w-[350px] dark:bg-flexoki-950 dark:border-flexoki-900"
    >← Back to all episodes</a
  >
  <a
    href="https://feedback.hearthisidea.com/episode?title={{ title }}&number={{
      number
    }}"
    class="rounded-md bg-slate-100 font-sans no-underline py-1 px-3 mx-2 border border-gray-300 shadow-sm font-medium text-gray-700 hover:bg-gray-50 text-center xs:text-left max-w-[350px] dark:bg-flexoki-950 dark:border-flexoki-900"
    >Leave feedback<span class="hidden sm:inline"> on this episode</span> ↗</a
  >
</nav>
