.side-nav {
  display: block;
  position: sticky;
  top: 2rem;
  width: 18rem;
  height: 0;
}
.side-nav-offset {
  position: relative;
  right: 22rem;
  overflow-y: auto;
  max-height: calc(100vh - 2rem);
  padding-bottom: 1rem;
}
.toc a {
  text-decoration: none;
}
.toc a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}
