---
title: "Episodes"
layout: "page"
description: "All episodes."
pagination:
  data: collections.episodes
  size: 20
  reverse: true
---

<div class="grid grid-cols-2 gap-4">
  {% for post in pagination.items %}
  <a href="{{ post.url }}" class="no-underline">
    <div class="rounded-md overflow-hidden text-sm leading-6 ring-2 ring-gray-100 p-6 hover:bg-yellow-100">
      {% if post.data.backgroundImage %} {% set backgroundImage =
      post.data.backgroundImage %} {% set episodeNumber = post.data.number %} {%
      featuredImage ""+episodeNumber+"/"+backgroundImage, "Alt text" %} {% endif
      %} {% if post.data.number %}
      <span class="font-mono">{{ post.data.number }}</span> {% endif %}
      <h2>{{ post.data.title }}</h2>
      {% if post.data.date %}
      <span class="font-mono">({% year post.data.date %})</span> {% endif %}
    </div>
  </a>
  {% endfor %}
</div>

<nav
  class="isolate inline-flex -space-x-px rounded-md shadow-sm my-8"
  aria-label="Pagination"
>
  {% if pagination.href.previous %}
  <a href="{{ pagination.href.previous }}" class="rounded-md bg-slate-100 font-sans no-underline p-2 px-3 mx-4 hover:bg-yellow-200">← Previous Page</a>
  {% endif %} {% if pagination.href.next %}
  <a href="{{ pagination.href.next }}" class="rounded-md bg-slate-100 font-sans no-underline p-2 px-3 mx-4 hover:bg-yellow-200">Next Page →</a>
  {% endif %}
</nav>
